*{
    margin: 0;
    padding: 0;
    
}

.homepage{
  
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 10s infinite;
    margin: 0;
}

.principal{
    left: 20%;
    top: 30%;
    position: absolute;
    background-color: rgba(0,0,0,0,5);
    
}

@keyframes slide {
    0%{

    background-image: url(background.jpg);
   
}

50%{
    background-image: url(pexels-pixabay-327533\ \(1\).jpg);

}
100%{

    background-image: url(background.jpg);
   
}

}

header{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
}

.left{
  width: 35%;
    height: 70px;
    background-color: white;
    align-items: center;
}
.image{
    
    
    padding-top: 5px;
    
    width: 150px;
    height: 60px;
   
   padding-left: 200px;
  
}
.submit{

     left: 10%;
    top: 130%;
    transform: translate(-50%,-50%);
    position: absolute;
    background-color: rgba(0,0,0,0,5);
    background-color: blue;
    width: 20%;
    height: 25%;
    color: #fff;
    
}
.select{
    margin:0;
   
    border: none;
}
.center{
    width: 35%;
    height:70px;
    background-color:white;
    display: flex;
    align-items: center;
   
}
.center ul li{
    text-decoration: none;
    display: inline;
    padding-right: 35px;
    color: gray;
   
    font-size: 18px;
     
}

.right{
   width: 15%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    color: darkblue;
    
    
}
.icon{
    font-size: 25px;
    color: darkblue;
    
    align-items: center;
}
 h1{
    font-size:70px;
    color: white;
    font-family: NokiaPureHeadlineLight,Arial,Helvetica,sans-serif;
    
}
p{
    font-size: 20px;
    
    color: white;
    padding-top: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
} 
